

$minWidth:320;
$maxWidth:1420;
$maxWidthContainer:1270;
$md1:$maxWidthContainer + 12;
$md2:991.98;
$md3:767.98;
$md4:479.98;

$fontFamily:"Rubik";
$fontSize:65;
$bgColor: #1f242d;
$secondBgColor: #323946;
$textColor: #fff;
$mainColor:#0ef;



@import 'nullstyle';

html{
	font-size: 62.5%;
	overflow-x: hidden;
}
body{
	background: $bgColor;
	color: $textColor
}

@import 'header';
@import 'footer';
@import 'home';
@import 'services';
@import 'portfolio';
@import 'contacts';
section {
	min-height: 100vh;
	padding: 10rem 9% 2rem;
}
span {
	color: $mainColor;
}
.heading {
	text-align: center;
	font-size: 4.5rem;
}
@media (max-width: 1200px) {
	html{
		font-size: 55%;
	}
}


@media (max-width: 991px) {
	.header{
		padding: 2rem 3%;
	}
	section {
		padding: 8rem 3%;
	}
	.footer {
		padding: 2rem 3%;
	}
	.service {
		padding-bottom: 7rem;
	}
}
@media (max-width: 768px) {
	#menu-icon {
		display: block;
	}
	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 1rem 3%;
		background: $bgColor;
		border-top: .1rem solid rgba(0,0,0,.2);
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
		display: none;
		&.active {
			display: block;
		}
		& a.header__link {
			display: block;
			font-size: 2rem;
			margin: 3rem 0;
		}
	}
	.home {
		flex-direction: column;
		& .home-content {
			font-size: 2.6rem;
			& h1 {
				font-size: 5rem;
			}
		}
		& .home-img img {
			width: 70vw;
			margin-top: 4rem;
		}
	}
	.service h2 {
		margin-bottom: 3rem;
	}
	.portfolio h2 {
		margin-bottom: 3rem;
	}
	.portfolio .portfolio-container {
		grid-template-columns: repeat(2, 1fr);
	}
	
}


@media (max-width: 617px) {
	.portfolio .portfolio-container {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 450px) {
	html {
		font-size: 50%;
	}
}


